@import url(./photo-grid__item/photo-grid__item.css);

.photo-grid {
  max-width: 1184px;
  margin: 92px 48px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-gap: 1rem;
  align-content: center;
}

@media all and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    margin: 92px 48px 0;
  }
}

@media all and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    width: calc(100% - 48px);
    margin: 88px 24px 0;
  }
}

@media all and (max-width: 425px) {
  .photo-grid {
    width: calc(100% - 32px);
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    margin: 64px auto 0;
  }
}

@media all and (max-width: 320px) {
  .photo-grid {
    row-gap: 12px;
    width: calc(100% - 32px);
    margin: 64px 16px 0;
  }
}
