.place__paragraph {
  grid-area: place-paragraph; 
  max-width: 484px; 
  width: 100%;
  font-size: 1.125rem;
  line-height: 1.875rem;
  margin: 0;
}


@media screen and (max-width:1024px) {
  .place__paragraph {
    max-width: 434px;
  }
}

@media screen and (max-width:768px) {
  .place__paragraph {
    font-size: 1rem;
    line-height: 1.625rem;
    max-width: 352px;
  }
}

@media screen and (max-width:425px) {
  .place__paragraph {
    max-width: 350px;
  }
}

@media screen and (max-width: 350px) {
  .place__paragraph {
    max-width: 288px;
  }
}