@import url(../__text-accent/intro__text-accent.css);

.intro__text {
  font-size: 0.75rem;
  line-height: 1.125rem;
  max-width: 690px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media all and (max-width: 768px) {
  .intro__text {
    max-width: 720px;
  }
}

@media all and (max-width: 320px) {
  .intro__text {
    max-width: 288px;
  }
}


