@import url(./__title/intro__title.css);
@import url(./__content-row-main-text/intro__content-row-main-text.css);
@import url(./__text/intro__text.css);

.intro {
  max-width: 984px;;
  margin: 0 auto;
  color: #ffffff;
}

@media all and (max-width : 1024px) {
  .intro {
      max-width: calc(100% - 48px);
      margin-left: 48px;
  }
}

@media all and (max-width : 768px) {
  .intro {
      max-width: calc(100% - 48px);
      margin-left: 24px;
  }
}

@media all and (max-width: 425px) {
  .intro {
    max-width: calc(100% - 32px);
    margin-left: 16px;
  }
}

