.cover__background {
  text-decoration: none;
  color: #fff;
  background-image: url("../../../sprint-3-images/cover-trains.jpg");
  background-size: cover;
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  /* min-height: 740px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  /*прописываю относительный паддинг для нашего контента внутри контейнера cover,
    чтобы расстояние от заголовка и подзаголовка было относительным и соответствовало макету*/
  padding: calc(245*100%/1184) 0;
  /* padding: calc(274*100%/1184) 0 calc(48*100%/1184); */
  /* z-index: 0; */
}

.cover__background::before {
  content: '';
  display: block;
  background-color: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* z-index: -1; */
  transition: opacity 0.2s linear;
}

.cover__background:hover::before {
  opacity: 0.8;
}

/* @media screen and (max-width:1279px) {
    .cover__background {
        padding: 19% 0;
    }
}

@media screen and (max-width:1023px) {
    .cover__background {
        padding: 15% 0;
    }
}

@media screen and (max-width:767px) {
    .cover__background {
        padding: 10% 0;
    }
} */

/* @media screen and (max-width:424px) {
    .cover__background {
        padding: 21% 0;
    }
} */
