@import url(./__title/place__title.css);
@import url(./__image/place__image.css);
@import url(./__website/place__website.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__link/place__link.css);
@import url(./__paragraphs/place__paragraphs.css);
@import url(./__paragraph/place__paragraph.css);

.place {
  width: 100%;
  display: grid;
  grid-column-gap: 40px;
  grid-row-gap: 48px;
  grid-template-areas:
    "place-title place-website"
    "place-img place-paragraph";
    
  margin: 0 0 80px;
}

@media screen and (max-width:1024px) {
  .place {
    grid-column-gap: 28px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width:750px) {
  .place {
    grid-template-areas:
      "place-title"
      "place-img"
      "place-paragraph";
    grid-column-gap: 0;
    grid-row-gap: 32px;
    margin-bottom: 64px;
    justify-items: center;
  }
}


